<div class="card">
    <h3 class="card-header">
        <strong>Registration Form</strong>
    </h3>
    <div class="card-body">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" />

                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-6">
                    <label>User Name</label>
                    <input type="text" formControlName="userName" class="form-control" />

                </div>
                <div class="form-group col-6">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                </div>

            </div>
            <br>
            <div class="row">
                <div class="form-group col-6">
                    <label>Email</label>
                    <input type="text" formControlName="emailId" class="form-control" />
                </div>
                <div class="form-group col-6">
                    <label>Mobile</label>
                    <input type="tel" formControlName="mobileNo" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group">
                <label>Address</label>
                <input type="text" formControlName="address" class="form-control" />
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-2">Gender</label>
                <div class="col-sm-2">
                    <input id="male" type="radio" class="custom-control-input" value="male" name="gender"
                        formControlName="gender">&nbsp;
                    <label for="male">Male</label>
                </div>
                <div class="col-sm-2">
                    <input id="female" type="radio" class="custom-control-input" value="female" name="gender"
                        formControlName="gender">&nbsp;
                    <label for="female">Female</label>
                </div>

            </div>

            <div class="form-group">
                <br>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Add User</button> &nbsp;
                    <button class="btn btn-warning" type="reset" (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>