<h1>Vehicle</h1>
<div class="card">
    <div class="card-head">
        <a *ngIf="currentUser.actorId==1" routerLink="add" class="btn btn-sm btn-success mb-2">Add Vehicle</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%">Vehicle Id</th>
                    <th style="width: 10%">Vehicle Name</th>
                    <th style="width: 10%">Vehicle Type</th>
                    <th style="width: 15%">Company Name </th>
                    <th style="width: 10%">Vehicle Capcity </th>
                    <th style="width: 10%">Vehicle Price </th>
                    <th style="width: 15%">Control Panel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles">
                    <td>{{vehicle.vehicleId}}</td>
                    <td>{{vehicle.vehicleName}}</td>
                    <td>{{vehicle.vehicleType.vehicleTypeName}}</td>
                    <td>{{vehicle.companyName}}</td>
                    <td>{{vehicle.vehicleCapcity}}</td>
                    <td>{{vehicle.vehiclePrice | currency:'INR'}}</td>

                    <td style="white-space: nowrap" *ngIf="currentUser.actorId==1">
                        <a routerLink="edit/{{vehicle.vehicleId }}" class="btn btn-sm btn-primary mr-1">Edit</a> &nbsp;
                        <button (click)="deleteState(vehicle.vehicleId )" class="btn btn-sm btn-danger btn-delete-city" [disabled]="isDeleting">
                            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!isDeleting">Delete</span>
                        </button>
                    </td>
                    <td style="white-space: nowrap" *ngIf="currentUser.actorId==2">
                        <a (click)="addToTour(vehicle.vehicleId)" class="btn btn-outline-secondary">Add to Tour</a> &nbsp;
                    </td>
                </tr>
                <tr *ngIf="!vehicles">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

