<header>
    <nav class="navbar navbar-expand-lg navbar-light" 
    style="background-color: #263238; height: 70px; color: #fff;">
        <h1 style="padding-left: 1%; padding-top: 1%;"><strong>Yatrum</strong></h1> &nbsp;
        
        
        <div class="div-right">           
            <i *ngIf="currentUser.actor.actorId==2" class="fa-solid fa-person-walking-luggage" style="font-size: 32px;" 
                title="Tour Package" routerLink="Package" routerLinkActive="active"></i>
            <em  *ngIf="currentUser.actor.actorId === 2">Tour</em> &nbsp;&nbsp;&nbsp;&nbsp;
            <span>
                <i class="fa-solid fa-right-from-bracket" style="font-size: 25px;" 
                (click)="logout()" title="Logout"></i>
                <!-- <em style="font-size: 10px;">Logout </em> -->
            </span>
        </div>
        
    </nav>
</header>


<div>
    <app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
</div>