<div class="p-4">
    <div class="container">
        <div class="product-cart" *ngIf="cartItems> 0">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">UserName</th>
                      <th scope="col">Tour Name</th>
                      <th scope="col">Tour Price</th>
                      <th scope="col">Vehicle Name</th>
                      <th scope="col">CIty Route</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr  *ngFor="let item of bookingHistoryItems">
                    <th >{{item.user.firstName}}</th>
                    <td>{{item.tour.tourName}}</td>
                    <td>{{item.tour.tourPrice | currency:'INR'}}</td>
                    <td>{{item.vehicle.vehicleName}}</td>
                    <td>{{item.cityRoute.routeName}}</td>
                  </tr>
                </tbody>
              </table> 
               <!-- <img class="card-img-top" src="{{item.image}}" alt="Card image cap"> -->
               <!-- (click)="removeItemFromCart(item.id)"--> 
            <!-- <ul>
                <li>
                   
                    <h3></h3>
                   
                       
                </li>
            </ul> -->
            
            <div class="cart-total">
                <p><button type="button" class="btn btn-outline-primary btn-sm">Empty Cart</button></p>
                <!--(click)="emptyCart()"-->
                <p class="text-right">
                    <strong class="d-block">Total Amount:</strong>
                    <span class="d-block" *ngFor="let item of bookingHistoryItems"> 
                        {{item.travelAmount | currency:'INR'}}</span>
                </p>
            </div>
        </div>

    </div>
</div>