<p>add-edit-tour works!</p>

<h1 *ngIf="isAddMode">Add City</h1>
<h1 *ngIf="!isAddMode">Edit City</h1>
<form [formGroup]="tourForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

        <div class="form-group col-5">
            <label>Tour Name</label>
            <input type="text" formControlName="tourName" class="form-control" />
            
        </div>
        <div class="form-group col-5">
            <label>Tour Description</label>
            <input type="text" formControlName="tourDescription" class="form-control" />
           
        </div>

        <div class="form-group col-5">
            <label>Tour price</label>
            <input type="number" formControlName="tourPrice" class="form-control" />
            
        </div>

        <div class="form-group col-5">
            <label>City Name</label>
            <select class="form-control" formControlName="cityId">
                <option *ngFor="let city of cities" [value]="city.cityId">
                    {{city.cityName}}</option>
            </select>
        </div>

    </div>
    <br>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button> &nbsp;
        <a routerLink="/Tour" class="btn btn-warning">Cancel</a>
    </div>
</form> 