<h1>Tours</h1>
<div class="card">
    <div class="card-head">
        <a *ngIf="currentUser.actor.actorId==1" routerLink="add" class="btn btn-sm btn-success mb-2">Add Tour</a>
    </div>
    <div class="card-body">
        <div class="row tour-list" style="margin: 1em 0;">

            <div class="product-cart" *ngIf="tours && tours.length > 0">
                <ul>
                    <li *ngFor="let tour of tours; let i = index;">
                        <img class="card-img-top" src="{{userImage}}" alt="Card image cap">

                        <div class="container">
                            <div class="row" style="border-bottom: 1px solid #CCC; padding-bottom: 2%;">
                                <span class="col-sm-2">{{tour.tourName}} </span>
                                <span class="col-sm-2">{{tour.city.cityName}}</span>
                                <span class="col-sm-5">{{tour.tourDescription}}</span>
                                <span class="col-sm-2">{{tour.tourPrice | currency:'INR'}}</span>
                                <span class="col-sm-1 text-center">
                                    <!-- *ngIf="currentUser.actor.actorId==1"-->
                                    <i class="fa-solid fa-pen-to-square" style="font-size: 20px;"
                                        routerLink="edit/{{tour.tourId}}"></i>
                                    &nbsp;

                                    <i class="fa-solid fa-trash" style="font-size: 20px; color:red"
                                        (click)="deleteTour(tour.tourId)"></i>

                                </span>
                            </div>
                            <br>
                            <form [formGroup]="bookingForm" *ngIf="currentUser.actor.actorId==2">
                                <div class="row">
                                    <div class=" col-3">
                                        <label>Travelling Start Date</label>
                                        <input type="date" class="form-control" formControlName="travellingStartDate" />
                                    </div>
                                    <div class="col-3">
                                        <label>Travelling End Date</label>
                                        <input type="date" class="form-control" formControlName="travellingEndDate" />
                                    </div>
                                    <div class="col-3">
                                        <label>No of Traveller</label>
                                        <input type="number" class="form-control col-sm-2"
                                            formControlName="noOfTraveller" />
                                    </div>
                                    <div class="col-2">
                                        <label style="color: white;">button</label>
                                        <br>
                                        <a class="btn btn-sm btn-info" (click)="addToTour(tour.tourId)">Add to Tour</a>
                                        &nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>

                    </li>
                </ul>
            </div>


        </div>

    </div>
</div>
<br>