<p>master-city works!</p>

<div class="masterCity-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>City Name</label>
        <input
          type="text"
          formControlName="cityName"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label>City Code</label>
        <input
          type="text"
          formControlName="cityCode"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add City</button>
         <!-- <button id="reset"
          type="button"
          (click)="onReset()"
          class="btn btn-warning">
          Reset
        </button>  -->
      </div>
    </form>
  </div>
