
.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    margin-left: 6%;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;


        .top-navigation__search {
            display: inline-flex;
            align-items: center;
            padding: 0 20px;
            color: #bbb;
            font-size: 20px;
        }

        .top-navigation__search-input {
            border: none;
            margin-left: 5px;
            padding: 0 10px;
            height: 40px;
            outline: none;
            font-size: 20px;
            
        }

        .top-navigation__search-input::placeholder {
            color: #bbb
        }

    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}