<div class="card">
    <div class="card-head">
        <h1 *ngIf="isAddMode">Add City Route</h1>
        <h1 *ngIf="!isAddMode">Edit City Route</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="cityRouteForm" (ngSubmit)="onSubmit()">
            <div class="form-row">

                <div class="form-group col-5">
                    <label>Route Name</label>
                    <input type="text" formControlName="routeName" class="form-control" />
                    <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div> -->
                </div>

                <div class="form-group col-5">
                    <label>Source City Name</label>
                    <select class="form-control" formControlName="sourceCity">
                        <option *ngFor="let city of cities" [value]="city.cityName">
                            {{city.cityName}}</option>
                    </select>
                </div>

                <div class="form-group col-5">
                    <label>Destination City Name</label>
                    <select class="form-control" formControlName="destinationCity">
                        <option *ngFor="let city of cities" [value]="city.cityName">
                            {{city.cityName}}</option>
                    </select>
                </div>

                <div class="form-group col-5">
                    <label>City Route Added Date</label>
                    <input type="date" formControlName="routeCreatedDate" class="form-control" />
                    <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div> -->
                </div>

            </div>
            <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button> &nbsp;
                <a routerLink="/City-Routes" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>