<div><button type="button" class="btn btn-danger" routerLink="/masterActor"
   routerLinkActive="active">Master Actor</button> &nbsp;

   <button type="button" class="btn btn-success" routerLink="/State"
   routerLinkActive="active">State</button> &nbsp;

   <button type="button" class="btn btn-primary" routerLink="/City"
   routerLinkActive="active">Master City</button> &nbsp;

   <button type="button" class="btn btn-secondary" routerLink="/Tour"
   routerLinkActive="active">Master Tour</button> &nbsp;

   <button type="button" class="btn btn-dark" routerLink="/masterUser"
   routerLinkActive="active">Master User</button> &nbsp;

   <button type="button" class="btn btn-warning" routerLink="/Vehicle-Type"
   routerLinkActive="active">Master Vehicle type</button> &nbsp;

   <button type="button" class="btn btn-link" routerLink="/Vehicle"
   routerLinkActive="active">Master Vehicle </button> &nbsp;

   


</div>
<alert></alert>
<router-outlet></router-outlet>
