<div><button type="button" class="btn btn-primary" routerLink="/masterActor"
   routerLinkActive="active">Master Actor</button> &nbsp;

   <button type="button" class="btn btn-primary" routerLink="/State"
   routerLinkActive="active">State</button> &nbsp;

   <button type="button" class="btn btn-primary" routerLink="/City"
   routerLinkActive="active">Master City</button> &nbsp;

   <button type="button" class="btn btn-primary" routerLink="/masterTour"
   routerLinkActive="active">Master Tour</button> &nbsp;

   <button type="button" class="btn btn-primary" routerLink="/masterUser"
   routerLinkActive="active">Master User</button> &nbsp;

</div>
<alert></alert>
<router-outlet></router-outlet>
